[defaults]
inventory           = inventory.yml
remote_tmp          = /tmp/.ansible/tmp
pattern             = *
forks               = 5
poll_interval       = 15
transport           = smart
nocolor             = 1
gathering           = smart
timeout             = 10
log_path            = ~/ansible.log
ansible_managed     = Ansible managed: {file} is being managed by Ansible, changes will be overwritten.
action_plugins      = /usr/share/ansible_plugins/action_plugins
callback_plugins    = /usr/share/ansible_plugins/callback_plugins
connection_plugins  = /usr/share/ansible_plugins/connection_plugins
lookup_plugins      = /usr/share/ansible_plugins/lookup_plugins
vars_plugins        = /usr/share/ansible_plugins/vars_plugins
filter_plugins      = /usr/share/ansible_plugins/filter_plugins
fact_caching        = memory
vault_password_file = ~/.ansiblevaultpass
