Log notice syslog
RunAsDaemon 1
DataDirectory /var/db/tor
{% for hs in hiddenservices %}
HiddenServiceDir /var/db/tor/{{ hs.service.folder }}/
HiddenServicePort {{ hs.service.hiddenserviceport }}
{% endfor %}
