mynetworks_style = host
inet_protocols = ipv4 ipv6
relay_domains  = {{ ansible_nodename }}
virtual_alias_maps = texthash:/usr/local/etc/postfix/mailman-virtual, texthash:/usr/local/etc/postfix/virtual
virtual_alias_domains = {{ postfix_virtual_alias_domain }}
mailman_destination_recipient_limit = 1

# Spam restrictions
smtpd_recipient_restrictions =
    reject_invalid_helo_hostname,
    reject_non_fqdn_helo_hostname,
    reject_non_fqdn_sender,
    reject_non_fqdn_recipient,
    reject_unknown_sender_domain,
    reject_unknown_recipient_domain,
    reject_unauth_pipelining,
    reject_rbl_client zen.spamhaus.org,
    reject_rhsbl_helo dbl.spamhaus.org,
    reject_rhsbl_client dbl.spamhaus.org,
    reject_rhsbl_sender dbl.spamhaus.org,
    permit_mynetworks,
    reject_unauth_destination

# TLS settings
smtpd_tls_cert_file = /usr/local/etc/letsencrypt/live/{{ ansible_nodename }}/fullchain.pem
smtpd_tls_key_file = /usr/local/etc/letsencrypt/live/{{ ansible_nodename }}/privkey.pem
smtpd_tls_auth_only = yes
smtpd_tls_received_header = yes
smtpd_tls_security_level = may
smtpd_tls_mandatory_protocols=!SSLv2,!SSLv3
smtp_tls_CAfile = /usr/local/etc/letsencrypt/live/{{ ansible_nodename }}/fullchain.pem
smtp_tls_session_cache_database = btree:/var/db/postfix/smtp_tls_session_cache
smtp_tls_security_level = may

# postfix 3 compat
compatibility_level=2
